extends ../layout

block content
    include ../includes/header
    .col-md-5.col-md-offset-2.text-center#contents(style="overflow:auto;min-height:500px;" )
        table.table-hover.table-striped(style="width:100%")
            thead
                tr.h4
                    th.text-center 编号
                    th.text-center 分类
                    th.text-center 包含类别
                    th.text-center
                        button.btn.btn-sm.btn-info(type="button" data-toggle="modal" data-target="#addCategory") 添加
            tbody#tabContent
    .modal.fade#addCategory(role="dialog")
        .modal-dialog(role="document")
            .modal-content
                .modal-header
                    button.close(type="button" data-dismiss="modal" aria-label="Close")
                        span(aria-hidden="true") &times;
                    h4.modal-title 添加分类
                .modal-body
                    form
                        .form-group
                            label(for="categoryName") 分类名
                            input.form-control#categoryName(placeholder="新分类名")
                        .form-group
                            label(for="includeCategory") 分类名(多个以空格隔开)
                            input.form-control#includeCategory(placeholder="包含分类名")
                .modal-footer
                    button.btn.btn-default(type="button" data-dismiss="modal") 取消
                    button.btn.btn-primary#addCateForm(type="button") 添加
    .modal.fade.bs-example-modal-sm#errAlert(role="dialog")
        .modal-dialog.modal-sm(role="document" style="width:300px;")
                .modal-content
                    .modal-header
                        button.close(type="button" data-dismiss="modal" aria-label="Close")
                            span(aria-hidden="true") &times;
                        h4.modal-title.text-danger 提示
                    .modal-body
                        p.center 添加失败！
                    .modal-footer
                        button.btn.btn-primary(type="button" data-dismiss="modal") 确定
    include ../includes/footer
    script(src="./js/addcate.js")